<!-- error404 -->
<main class="main">
  <div class="section error404" id="error404" aria-labelledby="error404-heading">
    <div class="section__inner">
      <div class="fake-ed">
        <h1 id="error404-heading" class="section__heading">
          <%= title %>
        </h1>
        <p>
          <%= body %>
        </p>
        <br />
        <a aria-label="Go to index page" title="Go to index page" href="<%= homeUrl %>">Home</a>
      </div>
    </div>
  </div>

</main>
<!-- /error404 -->