<!-- partials/footer -->
<footer class="footer" id="footer">
  <div class="footer__row">
    <span class="footer__copy">
      <svg
        role="image"
        aria-hidden="true"
        class="icon icon--victory-hand footer__copy-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <use href="#icon-victory-hand" />
      </svg>
      <span>
        <%= new Date().getFullYear() %>
      </span>
    </span>
  </div>
</footer>
<!-- /partials/footer -->
