<!-- partials/services-list -->
<ul class="list service__list" role="list" aria-label="Programming languages and tools">
  <% content.forEach((service)=> { %>
  <li class="list__item service__item"><%= service %></li>
  <% }); %>
</ul>
<!-- /partials/services-list -->