<!-- partials/svg-definitions -->
<div style="display: none; visibility: hidden" aria-hidden="true">
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <symbol
        id="icon-external-link"
        stroke="inherit"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </symbol>
      <symbol
        stroke="none"
        fill="currentColor"
        id="icon-victory-hand"
        viewBox="0 0 24 24"
      >
        <path
          d="M17.478 7.827c-.6 0-1.15.227-1.565.6a2.338 2.338 0 0 0-2.03-.554l.702-5.195a2.35 2.35 0 0 0-1.99-2.653 2.34
      2.34 0 0 0-2.657 1.983l-.286 1.75-.286-1.75A2.34 2.34 0 0 0 6.711.025 2.35 2.35 0 0 0 4.72 2.678l1.207
      8.932a3.912 3.912 0 0 0-1.752 3.26v2.087A7.051 7.051 0 0 0 11.217 24h1.566a7.051 7.051 0 0 0
      7.043-7.043v-6.783a2.35 2.35 0 0 0-2.348-2.347Zm-3.872 2.1a.784.784 0 0 1 1.524.247v3.13a.783.783 0 0 1-1.565
      0c0-3.478-.013-2.977.04-3.376ZM6.934 1.575c.4-.058.807.188.886.68l1.06 6.481a.783.783 0 0 0 1.545
      0l1.06-6.482c0-.005 0-.01.002-.015a.783.783 0 0 1 1.549.222l-.002.005c-.007.053-1.034 7.619-1.034
      7.71v.917a2.335 2.335 0 0 0-.783-.135h-3.13c-.226 0-.447.02-.662.057L6.27 2.465V2.46a.784.784 0 0 1
      .664-.886Zm11.327 15.383a5.484 5.484 0 0 1-5.478 5.478h-1.566a5.484 5.484 0 0 1-5.478-5.478V14.87a2.35 2.35 0
      0 1 2.348-2.348h3.13a.783.783 0 0 1 0 1.565H9.652a.783.783 0 0 0 0 1.566h1.565c.601 0 1.15-.228 1.566-.6a2.338
      2.338 0 0 0 3.13 0 2.338 2.338 0 0 0 2.348.465v1.439Zm0-3.652a.783.783 0 0 1-1.566 0v-3.13a.783.783 0 0 1
      1.566 0v3.13Z"
        />
      </symbol>
    </defs>
  </svg>
</div>
<!-- /partials/svg-definitions -->
