<!-- views/404 -->
<main class="main">
  <%- include("/partials/section", { 
    ...page.content, 
    content: `${"<p>" + page.content.content + "</p>" || ''}
      <a
        aria-label="Go to index page"
        title="Go to index page"
        href="${app.siteUrl}"
      >Home</a>`
}) %>
</main>
<%- include('/partials/footer', app); %>
<%- include('/partials/svg-definitions'); %>
<!-- /views/404 -->