<!-- views/404 -->
<main class="main">
  <%- include("/partials/section", page.content); %>
</main>
<%- include('/partials/footer', app); %>
<%- include('/partials/svg-definitions'); %>
<!-- /views/404 -->