<!-- viws/home-->
<main class="main">
  <% Array.isArray(page.content) && page.content.forEach((section) => { %>
  <%- include("/partials/section", section) %>
  <% })%>
</main>
<%- include('/partials/footer', app); %>
<%- include('/partials/svg-definitions'); %>
<!-- /views/home-->